<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.catfacts">

    <application tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".AndroidTestActivity"
            android:exported="true" />

    </application>

</manifest>
